$accent: #3eff4e;
$faint-accent: #8fff98;

img {
  width: 100%;
}

#main {
  background: black;
  width: 100vw;
  max-width: 1300px;
  margin-left: 50vw;
  transform: translateX(-50%);

}

#all-content {
  margin-top: 100px;
}


b {
  color: $accent;
}


#big-pic-div {
  position: relative;
  width: 100%;
  height: clamp(500px, 60vw, 1000px);



  /* Or your desired size */
  overflow: hidden;
  /* Optional: hides overflow */


  h1 {
    width: 100%;
    text-align: center;
    font-size: clamp(1rem, 17vw, 14rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    z-index: 0;
  }

  img {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    z-index: 2;
    object-fit: cover;
    /* Optional: scales image nicely */
  }

  #blurb {
    width: 30%;
    text-align: center;
    font-size: clamp(1rem, 2vw, 2rem);
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 3;

    @media screen and (max-width: 1000px) {
      position: absolute;
      width: 80%;
      left: 50%;
      transform: translate(-50%, 40%);
      background: #000000;
      border-radius: 20px;
    }

  }

}

#contact {
  padding: clamp(1rem, 5vw, 2rem);
  margin: auto;
  text-align: center;
}