$faint-accent: #8fff98;
$content-bg: rgb(9, 9, 79);

#projects-sect {
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    margin: auto;
    background-color: $content-bg;
    margin-top: 20px;
}


#title {
    opacity: 100%;
    padding-left: 3vw;
    font-size: clamp(2rem, 5vw, 5rem);

}


#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: clamp(1rem, 2vw, 2rem);

    a {
        color: inherit;
        font-weight: normal;
    }
}

.projectHero {
    border-radius: 3vw;
    width: 100%;
    aspect-ratio: 1.5;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    overflow: hidden;
    background: black;



    &:hover {
        border-color: $faint-accent;
        cursor: pointer;
    }

    h1 {
        font-size: clamp(2rem, 2vw, 4rem);
        text-align: center;
        width: 100%;
    }


}